<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Квиз</title>
</head>
<body>
    <form action="/submit" method="post">
        <div style="text-align: center;">
            <h3>Ыыыы</h3>
            <input type="radio" name="question1" value="a"> London<br>
            <input type="radio" name="question1" value="b"> Paris<br>
            <input type="radio" name="question1" value="c"> Rome<br>
            <input type="radio" name="question1" value="d"> Berlin<br>

            <h3>Question 2: What is the largest planet in our solar system?</h3>
            <input type="radio" name="question2" value="a"> Earth<br>
            <input type="radio" name="question2" value="b"> Mars<br>
            <input type="radio" name="question2" value="c"> Jupiter<br>
            <input type="radio" name="question2" value="d"> Venus<br>

            <h3>Question 3: Who is the author of the Harry Potter series?</h3>
            <input type="radio" name="question3" value="a"> J.R.R. Tolkien<br>
            <input type="radio" name="question3" value="b"> J.K. Rowling<br>
            <input type="radio" name="question3" value="c"> Stephen King<br>
            <input type="radio" name="question3" value="d"> George R.R. Martin<br>
        </div>
        <br>
        <div style="text-align: center;">
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>