<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ГШТ</title>
</head>
<body>
    
    <form action="/submit" method="post">
        <div style="text-align: center;">
            <h2>ГЕРИАТРИЧЕСКАЯ ШКАЛА ТРЕВОГИ (ГШТ)</h2>
            <h3>1. Я часто ощущаю сильное сердцебиение.</h3>
            <input type="radio" name="question1" value="Да"> Да<br>
            <input type="radio" name="question1" value="Нет"> Нет<br>

            <h3>2. Я часто потею.</h3>
            <input type="radio" name="question2" value="Да"> Да<br>
            <input type="radio" name="question2" value="Нет"> Нет<br>

            <h3>3. Я часто испытываю дрожь в теле.</h3>
            <input type="radio" name="question3" value="Да"> Да<br>
            <input type="radio" name="question3" value="Нет"> Нет<br>

            <h3>4. У меня часто сохнет во рту.</h3>
            <input type="radio" name="question4" value="Да"> Да<br>
            <input type="radio" name="question4" value="Нет"> Нет<br>

            <h3>5. Мне часто бывает тяжело дышать.</h3>
            <input type="radio" name="question5" value="Да"> Да<br>
            <input type="radio" name="question5" value="Нет"> Нет<br>

            <h3>6. Мне часто бывает страшно.</h3>
            <input type="radio" name="question6" value="Да"> Да<br>
            <input type="radio" name="question6" value="Нет"> Нет<br>

            <h3>7. У меня часто немеют конечности.</h3>
            <input type="radio" name="question7" value="Да"> Да<br>
            <input type="radio" name="question7" value="Нет"> Нет<br>

            <h3>8. Я часто ощущаю ком в горле.</h3>
            <input type="radio" name="question8" value="Да"> Да<br>
            <input type="radio" name="question8" value="Нет"> Нет<br>

            <h3>9. Я часто испытываю сильное беспокойство.</h3>
            <input type="radio" name="question9" value="Да"> Да<br>
            <input type="radio" name="question9" value="Нет"> Нет<br>

            <h3>10. Мне часто бывает сложно заснуть.</h3>
            <input type="radio" name="question10" value="Да"> Да<br>
            <input type="radio" name="question10" value="Нет"> Нет<br>
        </div>
        <br>
        <div style="text-align: center;">
            <input type="submit" value="Submit">
        </div>
    </form>

    <form action="/main_menu">
        <button type="submit">Return to Main Menu</button>
    </form>

</body>
</html>