<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ГШД</title>
</head>
<body>
    <form action="/submit_survey2" method="post">
        <h1>ГЕРИАТРИЧЕСКАЯ ШКАЛА ДЕПРЕССИИ (ГШД)</h1>
        <p>1. У меня часто нет настроения.</p>
        <input type="radio" name="questionn1" value="Да"> Да<br>
        <input type="radio" name="questionn1" value="Нет"> Нет<br>

        <p>2. Я потерял интерес к привычным делам.</p>
        <input type="radio" name="questionn2" value="Да"> Да<br>
        <input type="radio" name="questionn2" value="Нет"> Нет<br>

        <p>3. Я часто устаю.</p>
        <input type="radio" name="questionn3" value="Да"> Да<br>
        <input type="radio" name="questionn3" value="Нет"> Нет<br>

        <p>4. Мне часто бывает сложно сосредоточиться.</p>
        <input type="radio" name="questionn4" value="Да"> Да<br>
        <input type="radio" name="questionn4" value="Нет"> Нет<br>

        <p>5. Мне часто не хватает уверенности в себе.</p>
        <input type="radio" name="questionn5" value="Да"> Да<br>
        <input type="radio" name="questionn5" value="Нет"> Нет<br>

        <p>6. Я часто себя обвиняю.</p>
        <input type="radio" name="questionn6" value="Да"> Да<br>
        <input type="radio" name="questionn6" value="Нет"> Нет<br>

        <p>7. Меня не ждёт ничего хорошего.</p>
        <input type="radio" name="questionn7" value="Да"> Да<br>
        <input type="radio" name="questionn7" value="Нет"> Нет<br>

        <p>8. Я не хочу жить.</p>
        <input type="radio" name="questionn8" value="Да"> Да<br>
        <input type="radio" name="questionn8" value="Нет"> Нет<br>

        <p>9. Я плохо сплю.</p>
        <input type="radio" name="questionn9" value="Да"> Да<br>
        <input type="radio" name="questionn9" value="Нет"> Нет<br>

        <p>10. У меня часто нет аппетита.</p>
        <input type="radio" name="questionn10" value="Да"> Да<br>
        <input type="radio" name="questionn10" value="Нет"> Нет<br>

        <input type="submit" value="Submit">
    </form>

    <form action="/main_menu">
        <button type="submit">Return to Main Menu</button>
    </form>
</body>
</html>
