<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Survey 2</title>
</head>
<body>
    <h1>Survey 2</h1>
    <form action="/submit_survey2" method="post">
        <p>Question 1: What is your favorite color?</p>
        <input type="radio" name="color" value="a"> Red<br>
        <input type="radio" name="color" value="b"> Blue<br>
        <input type="radio" name="color" value="c"> Green<br>

        <p>Question 2: What is your favorite animal?</p>
        <input type="radio" name="animal" value="a"> Dog<br>
        <input type="radio" name="animal" value="b"> Cat<br>
        <input type="radio" name="animal" value="c"> Bird<br>

        <p>Question 3: What is your favorite food?</p>
        <input type="radio" name="food" value="a"> Pizza<br>
        <input type="radio" name="food" value="b"> Sushi<br>
        <input type="radio" name="food" value="c"> Burger<br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>