<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DASS</title>
</head>
<body>
    <form action="/submit_survey4" method="post">
        <h1>ШКАЛА ДЕПРЕССИИ, ТРЕВОГИ И СТРЕССА (DASS)</h1>
        <p>1 Я замечал, что расстраиваюсь по любому поводу.</p>
        <input type="radio" name="q1" value="0"> 0 <br>
        <input type="radio" name="q1" value="1"> 1 <br>
        <input type="radio" name="q1" value="2"> 2 <br>
        <input type="radio" name="q1" value="3"> 3 <br>

        <p>2 У меня возникало ощущение сухости во рту.</p>
        <input type="radio" name="q2" value="0"> 0 <br>
        <input type="radio" name="q2" value="1"> 1 <br>
        <input type="radio" name="q2" value="2"> 2 <br>
        <input type="radio" name="q2" value="3"> 3 <br>

        <p>3 Мне казалось, что я совсем не могу испытать положительных эмоций.</p>
        <input type="radio" name="q3" value="0"> 0 <br>
        <input type="radio" name="q3" value="1"> 1 <br>
        <input type="radio" name="q3" value="2"> 2 <br>
        <input type="radio" name="q3" value="3"> 3 <br>

        <p>4 Мне было тяжело дышать (напр., наблюдалось учащенное дыхание, одышка в отсутствие физических нагрузок).</p>
        <input type="radio" name="q4" value="0"> 0 <br>
        <input type="radio" name="q4" value="1"> 1 <br>
        <input type="radio" name="q4" value="2"> 2 <br>
        <input type="radio" name="q4" value="3"> 3 <br>

        <p>5 Мне было трудно начать делать что-либо.</p>
        <input type="radio" name="q5" value="0"> 0 <br>
        <input type="radio" name="q5" value="1"> 1 <br>
        <input type="radio" name="q5" value="2"> 2 <br>
        <input type="radio" name="q5" value="3"> 3 <br>

        <p>6 Я был склонен слишком бурно на всё реагировать.</p>
        <input type="radio" name="q6" value="0"> 0 <br>
        <input type="radio" name="q6" value="1"> 1 <br>
        <input type="radio" name="q6" value="2"> 2 <br>
        <input type="radio" name="q6" value="3"> 3 <br>

        <p>7 У меня возникало ощущение внутренней дрожи (напр., ноги подкашивались).</p>
        <input type="radio" name="q7" value="0"> 0 <br>
        <input type="radio" name="q7" value="1"> 1 <br>
        <input type="radio" name="q7" value="2"> 2 <br>
        <input type="radio" name="q7" value="3"> 3 <br>

        <p>8 Мне было трудно расслабиться.</p>
        <input type="radio" name="q8" value="0"> 0 <br>
        <input type="radio" name="q8" value="1"> 1 <br>
        <input type="radio" name="q8" value="2"> 2 <br>
        <input type="radio" name="q8" value="3"> 3 <br>

        <p>9 У меня были ситуации, которые беспокоили меня настолько, что я испытывал большое облегчение, когда они заканчивались.</p>
        <input type="radio" name="q9" value="0"> 0 <br>
        <input type="radio" name="q9" value="1"> 1<br>
        <input type="radio" name="q9" value="2"> 2 <br>
        <input type="radio" name="q9" value="3"> 3 <br>

        <p>10 Я чувствовал, что мне нечего ждать от жизни.</p>
        <input type="radio" name="q10" value="0"> 0 <br>
        <input type="radio" name="q10" value="1"> 1 <br>
        <input type="radio" name="q10" value="2"> 2 <br>
        <input type="radio" name="q10" value="3"> 3 <br>

        <p>11 Я замечал, что довольно легко расстраиваюсь.</p>
        <input type="radio" name="q11" value="0"> 0 <br>
        <input type="radio" name="q11" value="1"> 1 <br>
        <input type="radio" name="q11" value="2"> 2 <br>
        <input type="radio" name="q11" value="3"> 3 <br>

        <p>12 Я чувствовал, что трачу много душевных сил.</p>
        <input type="radio" name="q12" value="0"> 0 <br>
        <input type="radio" name="q12" value="1"> 1 <br>
        <input type="radio" name="q12" value="2"> 2 <br>
        <input type="radio" name="q12" value="3"> 3 <br>

        <p>13 Я чувствовал себя грустным и подавленным.</p>
        <input type="radio" name="q13" value="0"> 0 <br>
        <input type="radio" name="q13" value="1"> 1 <br>
        <input type="radio" name="q13" value="2"> 2 <br>
        <input type="radio" name="q13" value="3"> 3 <br>

        <p>14 Я замечал, что начинал терять терпение, когда меня что-то задерживало (напр., лифт, светофор, необходимость ждать).</p>
        <input type="radio" name="q14" value="0"> 0 <br>
        <input type="radio" name="q14" value="1"> 1 <br>
        <input type="radio" name="q14" value="2"> 2 <br>
        <input type="radio" name="q14" value="3"> 3 <br>

        <p>15 У меня возникало ощущение дурноты.</p>
        <input type="radio" name="q15" value="0"> 0 <br>
        <input type="radio" name="q15" value="1"> 1 <br>
        <input type="radio" name="q15" value="2"> 2 <br>
        <input type="radio" name="q15" value="3"> 3 <br>

        <p>16 Я чувствовал, что потерял интерес почти ко всему в жизни.</p>
        <input type="radio" name="q16" value="0"> 0 <br>
        <input type="radio" name="q16" value="1"> 1 <br>
        <input type="radio" name="q16" value="2"> 2 <br>
        <input type="radio" name="q16" value="3"> 3 <br>

        <p>17 Я чувствовал, что не представляю ценности как личность.</p>
        <input type="radio" name="q17" value="0"> 0 <br>
        <input type="radio" name="q17" value="1"> 1 <br>
        <input type="radio" name="q17" value="2"> 2 <br>
        <input type="radio" name="q17" value="3"> 3 <br>

        <p>18 Я чувствовал себя достаточно ранимым.</p>
        <input type="radio" name="q18" value="0"> 0 <br>
        <input type="radio" name="q18" value="1"> 1 <br>
        <input type="radio" name="q18" value="2"> 2 <br>
        <input type="radio" name="q18" value="3"> 3 <br>

        <p>19 Я сильно потел (напр., потели ладони в отсутствие высокой температуры или физических нагрузок).</p>
        <input type="radio" name="q19" value="0"> 0 <br>
        <input type="radio" name="q19" value="1"> 1 <br>
        <input type="radio" name="q19" value="2"> 2 <br>
        <input type="radio" name="q19" value="3"> 3 <br>

        <p>20 Я испытывал страх без какой-либо веской причины.</p>
        <input type="radio" name="q20" value="0"> 0 <br>
        <input type="radio" name="q20" value="1"> 1 <br>
        <input type="radio" name="q20" value="2"> 2 <br>
        <input type="radio" name="q20" value="3"> 3 <br>

        <p>21 Я чувствовал, что не стоит жить дальше.</p>
        <input type="radio" name="q21" value="0"> 0 <br>
        <input type="radio" name="q21" value="1"> 1 <br>
        <input type="radio" name="q21" value="2"> 2 <br>
        <input type="radio" name="q21" value="3"> 3 <br>

        <p>22 Мне было трудно успокоиться.</p>
        <input type="radio" name="q22" value="0"> 0 <br>
        <input type="radio" name="q22" value="1"> 1 <br>
        <input type="radio" name="q22" value="2"> 2 <br>
        <input type="radio" name="q22" value="3"> 3 <br>

        <p>23 Мне было трудно глотать (напр., возникало ощущение кома в горле).</p>
        <input type="radio" name="q23" value="0"> 0 <br>
        <input type="radio" name="q23" value="1"> 1 <br>
        <input type="radio" name="q23" value="2"> 2 <br>
        <input type="radio" name="q23" value="3"> 3 <br>

        <p>24 Я не получал никакого удовольствия от того, чем я занимался.</p>
        <input type="radio" name="q24" value="0"> 0 <br>
        <input type="radio" name="q24" value="1"> 1 <br>
        <input type="radio" name="q24" value="2"> 2 <br>
        <input type="radio" name="q24" value="3"> 3 <br>

        <p>25 Я ощущал сердцебиение в отсутствие физических нагрузок (напр., возникало учащенное сердцебиение, замирание сердца).</p>
        <input type="radio" name="q25" value="0"> 0 <br>
        <input type="radio" name="q25" value="1"> 1 <br>
        <input type="radio" name="q25" value="2"> 2 <br>
        <input type="radio" name="q25" value="3"> 3 <br>

        <p>26 Я чувствовал себя разбитым и унылым.</p>
        <input type="radio" name="q26" value="0"> 0 <br>
        <input type="radio" name="q26" value="1"> 1 <br>
        <input type="radio" name="q26" value="2"> 2 <br>
        <input type="radio" name="q26" value="3"> 3 <br>

        <p>27 Я заметил, что бывал очень раздражительным.</p>
        <input type="radio" name="q27" value="0"> 0 <br>
        <input type="radio" name="q27" value="1"> 1 <br>
        <input type="radio" name="q27" value="2"> 2 <br>
        <input type="radio" name="q27" value="3"> 3 <br>

        <p>28 Я чувствовал, что был близок к панике.</p>
        <input type="radio" name="q28" value="0"> 0 <br>
        <input type="radio" name="q28" value="1"> 1 <br>
        <input type="radio" name="q28" value="2"> 2 <br>
        <input type="radio" name="q28" value="3"> 3 <br>

        <p>29 Мне было трудно прийти в себя после того, как меня что-то расстраивало.</p>
        <input type="radio" name="q29" value="0"> 0 <br>
        <input type="radio" name="q29" value="1"> 1 <br>
        <input type="radio" name="q29" value="2"> 2 <br>
        <input type="radio" name="q29" value="3"> 3 <br>

        <p>30 Я боялся, что не смогу справиться с какой-нибудь простой, но незнакомой мне задачей.</p>
        <input type="radio" name="q30" value="0"> 0 <br>
        <input type="radio" name="q30" value="1"> 1 <br>
        <input type="radio" name="q30" value="2"> 2 <br>
        <input type="radio" name="q30" value="3"> 3 <br>

        <p>31 Я был не в состоянии чем-то увлечься.</p>
        <input type="radio" name="q31" value="0"> 0 <br>
        <input type="radio" name="q31" value="1"> 1 <br>
        <input type="radio" name="q31" value="2"> 2 <br>
        <input type="radio" name="q31" value="3"> 3 <br>

        <p>32 Мне было трудно сохранять спокойствие, когда кто-то прерывал меня во время моих занятий.</p>
        <input type="radio" name="q32" value="0"> 0 <br>
        <input type="radio" name="q32" value="1"> 1 <br>
        <input type="radio" name="q32" value="2"> 2 <br>
        <input type="radio" name="q32" value="3"> 3 <br>

        <p>33 Я находился в состоянии нервного напряжения.</p>
        <input type="radio" name="q33" value="0"> 0 <br>
        <input type="radio" name="q33" value="1"> 1 <br>
        <input type="radio" name="q33" value="2"> 2 <br>
        <input type="radio" name="q33" value="3"> 3 <br>

        <p>34 Я чувствовал себя достаточно никчёмным.</p>
        <input type="radio" name="q34" value="0"> 0 <br>
        <input type="radio" name="q34" value="1"> 1 <br>
        <input type="radio" name="q34" value="2"> 2 <br>
        <input type="radio" name="q34" value="3"> 3 <br>

        <p>35 Меня раздражало все, что отвлекало меня от дел.</p>
        <input type="radio" name="q35" value="0"> 0 <br>
        <input type="radio" name="q35" value="1"> 1 <br>
        <input type="radio" name="q35" value="2"> 2 <br>
        <input type="radio" name="q35" value="3"> 3 <br>

        <p>36 Меня охватывал ужас.</p>
        <input type="radio" name="q36" value="0"> 0 <br>
        <input type="radio" name="q36" value="1"> 1 <br>
        <input type="radio" name="q36" value="2"> 2 <br>
        <input type="radio" name="q36" value="3"> 3 <br>

        <p>37 У меня не было светлых надежд на будущее.</p>
        <input type="radio" name="q37" value="0"> 0 <br>
        <input type="radio" name="q37" value="1"> 1 <br>
        <input type="radio" name="q37" value="2"> 2 <br>
        <input type="radio" name="q37" value="3"> 3 <br>

        <p>38 Я чувствовал, что моя жизнь не имеет смысла.</p>
        <input type="radio" name="q38" value="0"> 0 <br>
        <input type="radio" name="q38" value="1"> 1 <br>
        <input type="radio" name="q38" value="2"> 2 <br>
        <input type="radio" name="q38" value="3"> 3 <br>

        <p>39 Я замечал, что начинал сильно нервничать.</p>
        <input type="radio" name="q39" value="0"> 0 <br>
        <input type="radio" name="q39" value="1"> 1 <br>
        <input type="radio" name="q39" value="2"> 2 <br>
        <input type="radio" name="q39" value="3"> 3 <br>

        <p>40 Я опасался ситуаций, в которых я мог запаниковать и оказаться в глупом положении.</p>
        <input type="radio" name="q40" value="0"> 0 <br>
        <input type="radio" name="q40" value="1"> 1 <br>
        <input type="radio" name="q40" value="2"> 2 <br>
        <input type="radio" name="q40" value="3"> 3 <br>

        <p>41 Я ощущал дрожь (напр., в руках).</p>
        <input type="radio" name="q41" value="0"> 0 <br>
        <input type="radio" name="q41" value="1"> 1 <br>
        <input type="radio" name="q41" value="2"> 2 <br>
        <input type="radio" name="q41" value="3"> 3 <br>

        <p>42 Мне было сложно заставить себя сделать что-либо.</p>
        <input type="radio" name="q42" value="0"> 0 <br>
        <input type="radio" name="q42" value="1"> 1 <br>
        <input type="radio" name="q42" value="2"> 2 <br>
        <input type="radio" name="q42" value="3"> 3 <br>



        <input type="submit" value="Submit">
    </form>

    <form action="/main_menu">
        <button type="submit">Return to Main Menu</button>
    </form>
</body>
</html>
