<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Survey 3</title>
</head>
<body>
    <h1>Шкала депрессии, тревоги и стресса (DASS-42)</h1>
    <form action="/submit_survey3" method="post">
        <p>Я замечал, что расстраиваюсь по любому поводу</p>
        <input type="radio" name="season" value="0"> 0<br>
        <input type="radio" name="season" value="1"> 1<br>
        <input type="radio" name="season" value="2"> 2<br>

        <p>У меня возникло ощущение сухости во рту</p>
        <input type="radio" name="hobby" value="0"> 0<br>
        <input type="radio" name="hobby" value="1"> 1<br>
        <input type="radio" name="hobby" value="2"> 2<br>

        <p>Мне казалось, что я совсем не могу испытывать положительных эмоций</p>
        <input type="radio" name="transportation" value="0"> 0<br>
        <input type="radio" name="transportation" value="1"> 1<br>
        <input type="radio" name="transportation" value="2"> 2<br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>