<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Survey 3</title>
</head>
<body>
    <h1>ШКАЛА КЭРРОЛЛА ДЛЯ ОЦЕНКИ ДЕПРЕССИИ</h1>
    <form action="/submit_survey3" method="post">
        <p>1. Я так же энергичен, как и всегда.</p>
        <input type="radio" name="questionnn1" value="Да"> Да<br>
        <input type="radio" name="questionnn1" value="Нет"> Нет<br>

        <p>2. Я теряю в весе.</p>
        <input type="radio" name="questionnn2" value="Да"> Да<br>
        <input type="radio" name="questionnn2" value="Нет"> Нет<br>

        <p>3. Я забросил многие свои интересы и увлечения.</p>
        <input type="radio" name="questionnn3" value="Да"> Да<br>
        <input type="radio" name="questionnn3" value="Нет"> Нет<br>

        <p>4. Из-за болезни я полностью потерял интерес к сексу.</p>
        <input type="radio" name="questionnn4" value="Да"> Да<br>
        <input type="radio" name="questionnn4" value="Нет"> Нет<br>

        <p>5. Меня очень беспокоит мое тело.</p>
        <input type="radio" name="questionnn5" value="Да"> Да<br>
        <input type="radio" name="questionnn5" value="Нет"> Нет<br>

        <p>6. Должно быть очевидно, что я обеспокоен и взволнован.</p>
        <input type="radio" name="questionnn6" value="Да"> Да<br>
        <input type="radio" name="questionnn6" value="Нет"> Нет<br>

        <p>7. Я всё ещё могу продолжать выполнять необходимую работу.</p>
        <input type="radio" name="questionnn7" value="Да"> Да<br>
        <input type="radio" name="questionnn7" value="Нет"> Нет<br>

        <p>8. Я могу с лёгкостью сосредоточиться, читая документы.</p>
        <input type="radio" name="questionnn8" value="Да"> Да<br>
        <input type="radio" name="questionnn8" value="Нет"> Нет<br>

        <p>9. Отход ко сну занимает у меня более полутора часов.</p>
        <input type="radio" name="questionnn9" value="Да"> Да<br>
        <input type="radio" name="questionnn9" value="Нет"> Нет<br>

        <p>10. Я неспокойный и суетливый.</p>
        <input type="radio" name="questionnn10" value="Да"> Да<br>
        <input type="radio" name="questionnn10" value="Нет"> Нет<br>

        <p>11. Утром я просыпаюсь гораздо раньше, чем нужно.</p>
        <input type="radio" name="questionnn11" value="Да"> Да<br>
        <input type="radio" name="questionnn11" value="Нет"> Нет<br>

        <p>12. Смерть – лучший выход для меня.</p>
        <input type="radio" name="questionnn12" value="Да"> Да<br>
        <input type="radio" name="questionnn12" value="Нет"> Нет<br>

        <p>13. Я часто испытываю чувство слабости и головокружение.</p>
        <input type="radio" name="questionnn13" value="Да"> Да<br>
        <input type="radio" name="questionnn13" value="Нет"> Нет<br>

        <p>14. Мне кажется, что меня наказывают за ошибки, совершенные в прошлом.</p>
        <input type="radio" name="questionnn14" value="Да"> Да<br>
        <input type="radio" name="questionnn14" value="Нет"> Нет<br>

        <p>15. Мои сексуальные предпочтения такие же, как и до болезни.</p>
        <input type="radio" name="questionnn15" value="Да"> Да<br>
        <input type="radio" name="questionnn15" value="Нет"> Нет<br>

        <p>16. Я часто чувствую себя несчастным, я часто готов заплакать.</p>
        <input type="radio" name="questionnn16" value="Да"> Да<br>
        <input type="radio" name="questionnn16" value="Нет"> Нет<br>

        <p>17. Я часто мечтаю умереть.</p>
        <input type="radio" name="questionnn17" value="Да"> Да<br>
        <input type="radio" name="questionnn17" value="Нет"> Нет<br>

        <p>18. У меня проблемы с пищеварением.</p>
        <input type="radio" name="questionnn18" value="Да"> Да<br>
        <input type="radio" name="questionnn18" value="Нет"> Нет<br>

        <p>19. Я часто просыпаюсь посреди ночи.</p>
        <input type="radio" name="questionnn19" value="Да"> Да<br>
        <input type="radio" name="questionnn19" value="Нет"> Нет<br>

        <p>20. Мне стыдно, и я чувствую себя бесполезным.</p>
        <input type="radio" name="questionnn20" value="Да"> Да<br>
        <input type="radio" name="questionnn20" value="Нет"> Нет<br>

        <p>21. Я стал настолько заторможенным, что теперь мне нужна помощь в мытье и одевании.</p>
        <input type="radio" name="questionnn21" value="Да"> Да<br>
        <input type="radio" name="questionnn21" value="Нет"> Нет<br>

        <p>22. Отход ко сну теперь занимает у меня больше времени, чем обычно.</p>
        <input type="radio" name="questionnn22" value="Да"> Да<br>
        <input type="radio" name="questionnn22" value="Нет"> Нет<br>

        <p>23. Большую часть времени мне очень страшно, но я не знаю почему.</p>
        <input type="radio" name="questionnn23" value="Да"> Да<br>
        <input type="radio" name="questionnn23" value="Нет"> Нет<br>

        <p>24. Меня беспокоит то, о чем я сожалею.</p>
        <input type="radio" name="questionnn24" value="Да"> Да<br>
        <input type="radio" name="questionnn24" value="Нет"> Нет<br>

        <p>25. Я получаю удовольствие и удовлетворение от того, что я делаю.</p>
        <input type="radio" name="questionnn25" value="Да"> Да<br>
        <input type="radio" name="questionnn25" value="Нет"> Нет<br>

        <p>26. Всё, что мне нужно для полного выздоровления, – это хороший отдых.</p>
        <input type="radio" name="questionnn26" value="Да"> Да<br>
        <input type="radio" name="questionnn26" value="Нет"> Нет<br>

        <p>27. Мой сон беспокойный и прерывистый.</p>
        <input type="radio" name="questionnn27" value="Да"> Да<br>
        <input type="radio" name="questionnn27" value="Нет"> Нет<br>

        <p>28. Мой ум такой же быстрый и острый, как и всегда.</p>
        <input type="radio" name="questionnn28" value="Да"> Да<br>
        <input type="radio" name="questionnn28" value="Нет"> Нет<br>

        <p>29. Я чувствую, что есть смысл жить.</p>
        <input type="radio" name="questionnn29" value="Да"> Да<br>
        <input type="radio" name="questionnn29" value="Нет"> Нет<br>

        <p>30. Мой голос унылый и безжизненный.</p>
        <input type="radio" name="questionnn30" value="Да"> Да<br>
        <input type="radio" name="questionnn30" value="Нет"> Нет<br>

        <p>31. Я чувствую себя раздражительным или нервным.</p>
        <input type="radio" name="questionnn31" value="Да"> Да<br>
        <input type="radio" name="questionnn31" value="Нет"> Нет<br>

        <p>32. Я чувствую себя в хорошем настроении.</p>
        <input type="radio" name="questionnn32" value="Да"> Да<br>
        <input type="radio" name="questionnn32" value="Нет"> Нет<br>

        <p>33. Мое сердце иногда бьётся быстрее обычного.</p>
        <input type="radio" name="questionnn33" value="Да"> Да<br>
        <input type="radio" name="questionnn33" value="Нет"> Нет<br>

        <p>34. Я считаю, что мой случай безнадёжный.</p>
        <input type="radio" name="questionnn34" value="Да"> Да<br>
        <input type="radio" name="questionnn34" value="Нет"> Нет<br>

        <p>35. Утром я просыпаюсь раньше обычного.</p>
        <input type="radio" name="questionnn35" value="Да"> Да<br>
        <input type="radio" name="questionnn35" value="Нет"> Нет<br>

        <p>36. Я так же получаю наслаждение от приёма пищи, как и всегда.</p>
        <input type="radio" name="questionnn36" value="Да"> Да<br>
        <input type="radio" name="questionnn36" value="Нет"> Нет<br>

        <p>37. Большую часть времени мне приходится ходить кругами.</p>
        <input type="radio" name="questionnn37" value="Да"> Да<br>
        <input type="radio" name="questionnn37" value="Нет"> Нет<br>

        <p>38. Я напуган и почти впадаю в панику.</p>
        <input type="radio" name="questionnn38" value="Да"> Да<br>
        <input type="radio" name="questionnn38" value="Нет"> Нет<br>

        <p>39. Моё тело неполноценное и больное.</p>
        <input type="radio" name="questionnn39" value="Да"> Да<br>
        <input type="radio" name="questionnn39" value="Нет"> Нет<br>

        <p>40. Я заболел из-за плохой погоды.</p>
        <input type="radio" name="questionnn40" value="Да"> Да<br>
        <input type="radio" name="questionnn40" value="Нет"> Нет<br>

        <p>41. Мои руки дрожат настолько сильно, что люди легко это замечают.</p>
        <input type="radio" name="questionnn41" value="Да"> Да<br>
        <input type="radio" name="questionnn41" value="Нет"> Нет<br>

        <p>42. Мне всё ещё нравится бывать в обществе и встречаться с людьми.</p>
        <input type="radio" name="questionnn42" value="Да"> Да<br>
        <input type="radio" name="questionnn42" value="Нет"> Нет<br>

        <p>43. Я думаю, что я кажусь спокойным со стороны.</p>
        <input type="radio" name="questionnn43" value="Да"> Да<br>
        <input type="radio" name="questionnn43" value="Нет"> Нет<br>

        <p>44. Я думаю, что я такой же хороший человек, как и любой другой.</p>
        <input type="radio" name="questionnn44" value="Да"> Да<br>
        <input type="radio" name="questionnn44" value="Нет"> Нет<br>

        <p>45. Моя проблема объясняется серьёзной внутренней болезнью.</p>
        <input type="radio" name="questionnn45" value="Да"> Да<br>
        <input type="radio" name="questionnn45" value="Нет"> Нет<br>

        <p>46. Я думал о попытке покончить с собой.</p>
        <input type="radio" name="questionnn46" value="Да"> Да<br>
        <input type="radio" name="questionnn46" value="Нет"> Нет<br>

        <p>47. Я почти ничего не делал в последнее время.</p>
        <input type="radio" name="questionnn47" value="Да"> Да<br>
        <input type="radio" name="questionnn47" value="Нет"> Нет<br>

        <p>48. В будущем меня ждут только одни страдания.</p>
        <input type="radio" name="questionnn48" value="Да"> Да<br>
        <input type="radio" name="questionnn48" value="Нет"> Нет<br>

        <p>49. Я очень беспокоюсь о своём здоровье.</p>
        <input type="radio" name="questionnn49" value="Да"> Да<br>
        <input type="radio" name="questionnn49" value="Нет"> Нет<br>

        <p>50. Мне приходиться заставлять себя есть хотя бы чуть-чуть.</p>
        <input type="radio" name="questionnn50" value="Да"> Да<br>
        <input type="radio" name="questionnn50" value="Нет"> Нет<br>

        <p>51. Большую часть времени я чувствую себя обессиленным.</p>
        <input type="radio" name="questionnn51" value="Да"> Да<br>
        <input type="radio" name="questionnn51" value="Нет"> Нет<br>

        <p>52. Я могу сказать, что я сильно похудел.</p>
        <input type="radio" name="questionnn52" value="Да"> Да<br>
        <input type="radio" name="questionnn52" value="Нет"> Нет<br>


        <input type="submit" value="Submit">
    </form>

    <form action="/main_menu">
        <button type="submit">Return to Main Menu</button>
    </form>

</body>
</html>